@inherits UmbracoViewPage


<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 text-center">
	<a href="/"><img class="logo mb-4 mt-5" src="/media/xuilzj0g/logo.jpg" alt="Logo" /></a>
	<hr class="mb-4 w-75 d-block margin-left-right-auto" />
	<ul class="list-group list-group-horizontal d-flex justify-content-center">
		<li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
		<li class="nav-item"><a class="nav-link" href="#services">Services</a></li>
		<li class="nav-item"><a class="nav-link" href="#about-us">About Us</a></li>
		<li class="nav-item"><a class="nav-link" href="#gallery">Gallery</a></li>
	</ul>
	<div class="container text-center mt-4">
		<small>Copyright &copy; PBoro Builders</small>
	</div>
</footer>